table, th, td {
 border: 1px solid black;
  border-collapse: collapse;
  align-items: center;
}

th, td {
  padding: 15px;
}

button {
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 40%;
}

h1
{
	text-align: center;
}

button {background-color: black;}

.content {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
			align-items: center;
        } 