body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(135deg, #eef2f3, #239ad5);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: blue;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.toolbar {
    background: white;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.toolbar label {
    font-size: 14px; 
    color: #444;
    margin-right: 5px;
}

button {
    background: rgb(50, 18, 167);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    

}


button:hover {
    background: #2390e8;
}

canvas {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    touch-action: none;
    max-width: 90vw;
    max-height: 70vh;
    /*elegantni kursor markera*/
    cursor: url('marker.png') 0 30, auto;
}



footer {
    margin-top: 20px;
    font-size: 13px;
    color: #000000;
}